:root {
  --gold: #f0c040;
  --bg: #0a0808;
  --text: #e8d5b0;
}

/* body styling */

body{
background:#0a0808;
font-family:'Cinzel',serif;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* LOGIN */

#login{
width:440px;
padding:40px;
background:#1e1510;
border-radius:10px;
text-align:center;
}

/* GAME AREA */

#game{
display:none;
text-align:center;
}

.scene{
display:flex;
justify-content:space-around;
margin-top:40px;
}

.tower{
width:200px;
height:260px;
border-bottom:8px solid red;
display:flex;
flex-direction:column-reverse;
align-items:center;
}

/* DISK */

.disk{
height:28px;
margin:5px 0;
border-radius:15px;
text-align:center;
color:white;
cursor:grab;
}
